<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2tRGJ_bHUfO67L8KSkWTP3DOXNL_lmnw</string>
	<key>GCM_SENDER_ID</key>
	<string>97680344221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palatipjant.Social-App</string>
	<key>PROJECT_ID</key>
	<string>social-app-64b3a</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-64b3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97680344221:ios:fad53fec7be60aa4c78074</string>
</dict>
</plist>